@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro|Spectral|Germania+One");
@font-face {
  font-family: 'OldEnglish';
  src: url("/css/fonts/CloisterBlack.ttf") format('truetype');
}
/***** -------- *****/
/***** GLOBAL *****/
/***** -------- *****/
/***** Header *****/
header {
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  justify-content: flex-start;
  align-items: center;
  padding: 25px 35px;
  height: 120px;
  border-bottom: solid 3px var(--white);
  background: #000;
  transition: 0.25s;
}
header .logo {
  font-family: 'OldEnglish', cursive;
  color: var(--white);
  text-decoration: none;
  font-size: 4.5rem;
  padding: 10px;
  display: inline-block;
  position: relative;
  top: -5px;
  cursor: pointer;
  transition: 0.25s;
}
header .logo:hover {
  color: var(--white);
  text-shadow: 1px 1px #fb3333, 2px 2px #fb3333, 3px 3px #fb3333, 4px 4px #fb3333, 5px 5px #fb3333;
}
header .menu_button {
  margin-right: 50px;
  font-size: 2.4rem;
  display: inline-block;
  cursor: pointer;
  transition: 0.25s;
}
/***** STICKY HEADER *****/
header.headroom--not-top {
  height: 80px;
  display: flex;
  z-index: 1000;
}
/***** Nav menu *****/
nav {
  position: fixed;
  height: calc(100vh - 25px);
  width: 250px;
  top: 25px;
  background-color: var(--black);
  transform: translateX(-500px) translateY(50px) translateZ(0px);
  transition: 0.5s;
  transition-delay: 0s;
}
nav.active {
  transform: translateX(0px) translateY(0px) translateZ(0px);
  box-shadow: 6px -4px 8px 2px rgba(0,0,0,0.5);
  transition-delay: 0.25s;
}
nav>.main {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-bottom: solid 1px #222;
}
nav>.main>.menu_button {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 1.8rem;
  padding: 10px;
  transition: 0.25s;
}
nav>.main>.logo {
  font-family: 'OldEnglish', cursive;
  font-size: 4.8rem;
  margin-bottom: 25px;
  display: block;
  cursor: pointer;
  color: var(--white);
  transition: 0.25s;
  align-self: center;
  text-decoration: none;
}
nav>.main>.logo:hover {
  color: var(--white);
  text-shadow: 1px 1px var(--red), 2px 2px var(--red), 3px 3px var(--red), 4px 4px var(--red), 5px 5px var(--red);
}
nav>.main>span {
  font-family: 'Source Code Pro', monospace;
  font-size: 1.6rem;
  font-weight: 600;
}
nav>.links>a {
  font-family: 'Source Code Pro', monospace;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 15px 35px;
  font-size: 2.4rem;
  color: var(--white);
  text-decoration: none;
  border-bottom: solid 1px #222;
}
nav>.links>a>i {
  transform: rotate(180deg) translateZ(0);
  font-size: 3rem;
  color: var(--white);
  opacity: 0;
  transition: opacity 0.5s 0s, text-shadow 0.25s 0.2s;
}
nav>.links>a:hover>i {
  opacity: 1;
  color: var(--white);
  text-shadow: -1px -1px var(--red), -2px -2px var(--red), -3px -3px var(--red), -4px -4px var(--red), -5px -5px var(--red);
}
/***** Footer *****/
footer {
  display: flex;
  justify-content: space-between;
  padding: 20px 35px;
  border-top: solid 3px var(--white);
  background-color: #000;
}
footer .logo {
  font-family: 'OldEnglish', cursive;
  font-size: 2.4rem;
  color: var(--white);
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  transition: 0.25s;
}
footer .logo:hover {
  color: var(--white);
  text-shadow: 1px 1px var(--red), 2px 2px var(--red), 3px 3px var(--red), 4px 4px var(--red), 5px 5px var(--red);
}
/***** Body Wrapper *****/
.body_wrapper {
  height: 100%;
  background-color: var(--black);
  padding: 0;
  padding-top: 120px;
  margin: 0;
  transform-origin: left;
  perspective-origin: left;
  transform: none;
  transition: 0.5s;
}
.body_wrapper.active {
  transform: translateX(400px) translateY(0%) translateZ(50px) rotateX(-15deg) rotateY(25deg) scale(0.95);
  box-shadow: 5px 5px 15px 15px rgba(0,0,0,0.5);
  perspective: 800px;
  pointer-events: none;
}
/******************************
*******************************
PAGES

  1 - HOME
  2 - ARTICLE
  3 - FULL DIRECTORY
*******************************
*******************************/
/***** HOME *****/
/***** home hero *****/
.home_1 {
  background-color: #333;
  background-image: linear-gradient(to bottom, #333, var(--black));
  margin-bottom: 100px;
  padding: 25px 35px;
}
.home_1>.container {
  display: flex;
  border-bottom: solid 1px var(--white);
}
.home_1>.container>.main {
  width: calc(100% - 400px);
}
.home_1>.container>.main .title>h1 {
  font-size: 7.2rem;
}
.home_1>.container>.main .caption {
  font-size: 2.4rem;
  font-family: var(--serif);
  width: 100%;
  max-width: 500px;
}
.home_1>.container>.home_hero_slider {
  width: 400px;
  position: relative;
}
.home_1 .swiper-slide>article {
  width: 100%;
/*height: 700px;*/
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.home_1 .swiper-wrapper {
  overflow-x: hidden;
}
/***** copy *****/
.home_1 .swiper-slide>article>.copy {
  width: 100%;
  padding: 5px 10px 20px 10px;
  box-sizing: border-box;
  position: relative;
  top: -65px;
}
.home_1 .swiper-slide>article>.copy .title {
  position: relative;
  display: inline-block;
  z-index: 15;
  color: var(--white);
  padding: 25px 35px;
  transform: rotate(-3deg);
  box-shadow: 5px 5px 5px rgba(0,0,0,0.75);
  background-color: #666;
  transition: 0.25s;
  transition-timing-function: ease-in-out;
  will-change: text-shadow;
}
.home_1 .swiper-slide>article>.copy .title>h1 {
  color: var(--white);
  margin: 0;
  transform: rotate(2deg);
  font-family: 'OldEnglish', cursive;
  font-size: 3.5rem;
  line-height: 3rem;
  display: inline-block;
  font-weight: 300;
  position: relative;
  z-index: 15;
  box-sizing: border-box;
  transition: 0.25s;
  transition-timing-function: ease-in-out;
}
.home_1 .swiper-slide>article>.copy .title:hover h1 {
  text-shadow: 0 0 1vw #fb3333, 0 0 3vw #fb3333, 0 0 10vw #fb3333, 0 0 10vw #fb3333, 0 0 0.4vw #fb3333;
  color: #000;
}
/***** image *****/
.home_1 .swiper-slide>article>.image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 15px 75px 15px;
  box-sizing: border-box;
  background-color: var(--white);
}
.home_1 .swiper-slide>article>.image>img {
  width: 100%;
  height: auto;
  transition: 0.25s ease-in-out;
}
/***** article feed *****/
.home_2>.article_preview_feed {
  float: left;
  box-sizing: border-box;
  width: calc(100% - 300px);
  padding-right: 50px;
}
.home_2>.article_preview_feed>.article_preview {
  margin: 100px 0;
}
.home_2>.article_preview_feed>.article_preview:first-of-type {
  margin-top: 0;
}
/*.home_2>.article_preview_feed>.article_preview:nth-of-type(odd){
        flex-direction:row-reverse;
      }*/
.home_2>.article_preview_feed>.separator:after {
  content: "";
  display: block;
  height: 20px;
  width: 80%;
  max-width: 500px;
  margin: auto;
  border: solid 1px var(--white);
}
/***** sidebar *****/
.home_2>.sidebar {
  float: left;
  box-sizing: border-box;
  width: 300px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.home_2>.sidebar>.sidebar_cell {
  display: block;
  margin-bottom: 35px;
}
